*{
    padding: 0;
    margin: 0;
    color: white;
}

body{
    background-color: #222;
}

#title>h1{
    justify-self: center;
}

#find_user{
    justify-content: center;
    display: flex;
    column-gap: 10px;
}

#find_user>button, #find_user>input{
    color: black;
}

#users{
    display: grid;
    row-gap: 10px;
    grid-template-columns: repeat(3, auto);
}

.cards-container{
    background-color: tomato;
    display: grid;
}