*{
    padding: 0;
    margin: 0;
    color: white;
}

body{
    background-color: #222;
    display: grid;
    justify-content: center;
}

#users{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}